extends base.pug 

block scripts 
  script(src='/static/index.js')   

block style 
    style
      include ../static/style.css  

block content 
    section#introSection 
        div Welcome to Dance Academy 
        div.intro Eat Sleep Dance Repeat 

    section#MissionSection
        h2 Our Mission
        div.card 
            h3 Dance perfection 
            div.card-box
                div.card-img1
                    img(src="/static/img/lg1.png")
            div.card-content 
                    p This is the best dance academy of the universe
        div.card 
            h3 Dance the way u love
            div.card-box 
                div.card-img2 
                    img(src="/static/img/lg2.png")
            div.card-content 
                    p This is the best dance academy of the universe
        div.card 
            h3 Expert Teaching
            div.card-box 
                div.card-img3
                    img(src="/static/img/lg3.png")
            div.card-content 
                    p This is the best dance academy of the universe

    section#SponserSection
        h2 Our Sponsors
        div#sponsers 
            img(src="/static/img/s1.png", alt="sponsors image",class="spimage")
            img(src="/static/img/s2.png", alt="sponsors image",class="spimage")
            img(src="/static/img/s3.png", alt="sponsors image",class="spimage")
            img(src="/static/img/s4.png", alt="sponsors image",class="spimage")
        